<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724285721213-uo3012f3vqpdf0m35bg0nah8lnvevgmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724285721213-uo3012f3vqpdf0m35bg0nah8lnvevgmf</string>
	<key>API_KEY</key>
	<string>AIzaSyCc0jisABf5y6yNYJts1gUrjVdZvY1kPIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>724285721213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darrekt.Sage</string>
	<key>PROJECT_ID</key>
	<string>sage-43117</string>
	<key>STORAGE_BUCKET</key>
	<string>sage-43117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724285721213:ios:425fc65fa582511c50ff14</string>
	<key>DATABASE_URL</key>
	<string>https://sage-43117.firebaseio.com</string>
</dict>
</plist>